/* base */
*{ 
    padding: 0; margin: 0; /* 여백 없앰 */
    font-family: "맑은 고딕",sans-serif;
} 
li{ list-style: none; } /* 리스트 기호 없앰 */
a{ text-decoration: none; }
img{ border: none; } /* 이미지 링크시 생기는 선 없앰 */


/* header 구성 */
.header{
    position: relative; /* gnbbg 앱솔루트 기준 변경 */
    width: 1200px; height: 100px;
    margin: 0 auto;
}
.header h1{
    float: left; width: 200px; height: 100px;
    padding-top: 50px; box-sizing: border-box;
}

/* gnb 구성 */
.gnb{
    float: left; width: 1000px; height: 100px;
    padding-top: 60px; box-sizing: border-box;
}
.gnb > ul{ float: right; }
.gnb > ul > li{
    float: left; width: 150px; height: 40px;
    position: relative; /* subnav 앱솔루트 기준 변경 */
}
.gnb .mainnav{
    display: block; width: 150px; height: 40px;
    text-align: center; line-height: 40px;
    color: #0b1c26; font-size: 18px; 
    font-weight: bold;
}
.gnb li:hover .mainnav{
    color: #fff; background-color: #56bac8;
}
.gnb .subnav{
    display: none; /* 처음에 안보이게 처리 */
    position: absolute; top: 40px; left: 0;
    z-index: 100; /* gnbbg보다 높게 처리 */
    width: 100%; height: 120px;
}
.gnb .subnav li{
    width: 100%; height: 40px;
}
.gnb .subnav a{ 
    display: block; width: 100%; height: 100%;
    text-align: center; line-height: 40px;
    color: #fff; font-size: 14px; 
}
.gnb .subnav a:hover{
    background-color: #fff; color: #56bac8;
}
.gnb .gnbbg{
    display: none; /* 처음에 안보이게 처리 */
    position: absolute; 
    top: 100px; left: 0; z-index: 90;
    width: 100%; height: 120px;
    background-color: #56bac8;
}

/* main 구성 */
.main{
    width: 1200px; height: 300px;
    margin: 0 auto;
}
