/* base */
*{ 
    padding: 0; margin: 0; /* 여백 없앰 */
    font-family: "맑은 고딕",sans-serif;
} 
li{ list-style: none; } /* 리스트 기호 없앰 */
a{ text-decoration: none; }
img{ border: none; } /* 이미지 링크시 생기는 선 없앰 */

body{ width: 1000px; height: 650px; }


/* header 구성 */
.header{
    float: left; width: 200px; height: 650px;
    background-color: beige;
}
.header h1{
    width: 200px; height: 100px;
    padding-top: 30px; box-sizing: border-box;
}

/* gnb 구성 */
.gnb{
    width: 200px; height: 550px;
    padding: 20px; box-sizing: border-box;
}
.gnb > ul{
    border-top: 2px solid #0b1c26;
}
.gnb > ul > li{
    width: 100%; 
    border-bottom: 2px solid #0b1c26;
}
.gnb .mainnav{
    display: block; width: 100%; height: 40px;
    text-align: center; line-height: 40px;
    color: #0b1c26; font-size: 18px; 
    font-weight: bold;
}
.gnb li:hover .mainnav{
    color: #fff; background-color: #56bac8;
}
.gnb .subnav{
    display: none; /* 처음에 안보이게 처리 */
    width: 100%; height: 120px;
    background-color: #56bac8; 
}
.gnb .subnav li{
    width: 100%; height: 40px;
}
.gnb .subnav a{ 
    display: block; width: 100%; height: 100%;
    text-align: center; line-height: 40px;
    color: #fff; font-size: 14px; 
}
.gnb .subnav a:hover{
    background-color: #fff; color: #56bac8;
}

/* 오른쪽 구성 */
.main{ float: left; width: 800px; height: 350px; }
.contents{ float: left; width: 800px; height: 200px; background-color: pink; }
.footer{ float: left; width: 800px; height:100px; background-color: gray; }
