@charset "UTF-8";

/* 브라우저 초기화작업 */
*{padding: 0; margin: 0;}
li{list-style: none;}
img{border: none;}

/* main레이아웃 */
.main{
    position: relative;
    width: 1200px;
    height: 300px;
    margin: 0 auto;
}

.main ul{
    width: 1200px;
    height: 300px;
}

.main li{
    position: absolute;
    top: 0;
    left: 0;
    width: 1200px;
    height: 300px;
    display: none;
}

img{
    width: 1200px;
    height: 300px;
}